button[type="button"] {
    padding: 0.5rem 1rem ;
    margin: auto;
    background-color: #FF8B8B;
    color: white;
    border: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10rem;
    font-size: 1rem;
  }

  body{
    background-color: #FFF3F3;
  }
  
  button[type="button"]:hover {
    background-color: #ebaeae;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make sure container fills viewport */
  }
  .headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
  }
  
  .card {
    width: 400px;
    max-width: 80%; /* Adjust max-width for responsiveness */
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px; /* Rounded corners for card effect */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: center; /* Add this line */
  }

  .btn1 {
    padding: 0.5rem 1rem;
    background-color: #FF5A5A;
    color: white;
    border: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20rem;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .btn1:hover {
    background-color: #ebaeae;
  }